.yesterday-title {
  font-weight: bold;
  font-size: 18px;
  color: #606373;
}

.yesterday-time {
  max-width: 16px;
  margin-right: 6px;
}

.yesterday-font-color {
  color: #5d74e2;
}

.yesterday-title-font {
  .yesterday-font-color();
  font-size: 30px;
  margin-right: 8px;
  font-weight: bolder;
}
